.btn-primary-neutral {
  background-color: $color-blue;
  height: 5rem;
  padding: 1.4rem 2.6rem 1.3rem 2.6rem;

  &:hover {
    background-color: $color-blue-dark-1;
  }

  &:active {
    background-color: $color-blue-dark-2;
  }

  &-disabled {
    background-color: $color-blue-light-2;
    color: $color-blue-light-4;
    cursor: default;
  
    &:hover {
      background-color: $color-blue-light-2;
      color: $color-blue-light-4;
    }
  
    &:active {
      background-color: $color-blue-light-2;
      color: $color-blue-light-4;
    }
  }
}
