.btn-quartiary-danger {
  background-color: transparent;
  color: $color-red;

  &__iconleft {
    width: 1rem;
    height: 1rem;
    margin-right: 1.3rem;
  }

  &-disabled {
    background-color: transparent;
    color: $color-red-light-1;
    cursor: default;
  
    &:hover {
      background-color: transparent;
      color: $color-red-light-1;
    }
  
    &:active {
      background-color: transparent;
      color: $color-red-light-1;
    }
  }
}