.btn-quartiary-danger {
  background-color: transparent;
  color: $color-red;

  &-disabled {
    background-color: transparent;
    color: $color-red-light-1;
    cursor: default;
  
    &:hover {
      background-color: transparent;
      color: $color-red-light-1;
    }
  
    &:active {
      background-color: transparent;
      color: $color-red-light-1;
    }
  }
}
