<template>
  <div class="flex flex-wrap flex-1">

    <div>
      <search-input
        v-model="input"/>
    </div>
    <div
      class="self-center w-full md:w-1/2 lg:w-1/3 p-4">
      <checkbox
        v-model="onlyTags"
        label="Search in tags only" />
    </div>

  </div>
</template>

<script>
import SearchInput from '~/components/Inputs/SearchInput/SearchInput'
import Checkbox from '~/components/Inputs/Checkbox/Checkbox'

// A Helper Fn to delay the Search untill the user stops typing
import debounceFn from '~/helper-fns/components/SearchBar/debounce'

export default {
  components: {
    SearchInput,
    Checkbox
  },
  data () {
    return {
      input: '',
      onlyTags: false
    }
  },
  computed: {
    stringToArray () {
      if (!this.input || this.input.trim() === '') return []

      return this.input.trim().split(' ')
    }
  },
  watch: {
    stringToArray (newValue) {
      if (!this.checkArray(newValue)) {
        debounceFn(() => {
          this.getAllTools()
        }, 600)
        this.$store.commit('setSearchArray', [])
      } else {
        debounceFn(() => {
          this.handleSearch()
        }, 600)
        this.$store.commit('setSearchArray', newValue)
      }
    },
    onlyTags (newValue) {
      if (this.input) {
        this.handleSearch()
      }

      if (newValue) {
        this.$store.commit('setTagsOnly', true)
      } else {
        this.$store.commit('setTagsOnly', false)
      }
    }
  },
  methods: {
    handleSearch() {
      let payload = {
        searchArray: this.stringToArray
      }

      if (this.onlyTags) payload.tags = true

      this.$store.dispatch('searchTools', payload)
    },
    getAllTools () {
      this.$store.dispatch('getAllTools', true)
    },
    checkArray (arr) {
      if (arr.length === 0) return false

      if (arr.length === 1 &&
      arr[0].length <= 2) return false

      return true
    }
  }
}
</script>
