<template>
  <div>
    <div class="flex flex-row flex-wrap add-form__body">
      <!-- Title -->
      <div class="flex flex-row flex-wrap mb-4">
        <div class="flex self-center mr-4 add-form__add-icon">
          <img
            src="~/static/icons/icon_add_ink.svg"
            alt="Add">
        </div>
        <div class="flex-1">
          <h4>Add new tool</h4>
        </div>
      </div>

      <!-- Form -->
      <form
        class="w-full"
        @submit.prevent="addNewTool">
        <!-- Tool Name -->
        <my-input
          v-model="toolName"
          required
          labeltext="Tool Name"
          placeholder="Ex: json-server"/>
        <!-- Tool Link -->
        <my-input
          v-model="toolLink"
          required
          labeltext="Tool Link"
          placeholder="Ex: https://github.com/typicode/json-server"/>
        <!-- Tool description -->
        <my-input
          v-model="toolDesc"
          textarea
          required
          labeltext="Tool Description" />
        <!-- Tags -->
        <tag-input
          v-model="toolTags"
          required/>
        <!-- Submit button -->
        <div class="w-full text-right">
          <btn-primary-neutral
            :disabled="submitBtnDisabled"
            text="Add tool"/>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MyInput from '~/components/Inputs/MyInput/MyInput'
import TagInput from '~/components/Inputs/TagInput/TagInput'
import BtnPrimaryNeutral from '~/components/Buttons/BtnPrimaryNeutral'

export default {
  components: {
    MyInput,
    TagInput,
    BtnPrimaryNeutral
  },
  props: {
    closemodal: {
      type: Function,
      default: () => {}
    }
  },
  data() {
    return {
      toolName: '',
      toolLink: '',
      toolDesc: '',
      toolTags: []
    }
  },
  computed: {
    submitBtnDisabled () {
      if (!this.checkFields()) return true

      return false
    }
  },
  methods: {
    checkFields () {
      if (!this.toolName ||
      !this.toolLink ||
      !this.toolDesc ||
      this.toolTags.length === 0) {
        return false
      }

      return true
    },
    addNewTool () {
      if (!this.checkFields()) return

      this.$store.dispatch('addNewTool', {
        title: this.toolName,
        description: this.toolDesc,
        link: this.toolLink,
        tags: this.toolTags
      })

      this.closemodal()
    }
  }
}
</script>

<style lang="scss" scoped>
.add-form {
  &__body {
  background-color: white;
  border-radius: 3px;
  padding: 5.5rem;
  }

  &__add-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  } 
}
</style>
