<template>
  <div class="flex">

    <btn-primary-neutral-iconleft
      icon="add"
      text="Add"
      @btnClicked="handleModal" />
    <!-- MODAL -->
    <modal
      v-if="openModal"
      @modalWantsToClose="handleModal">

      <add-form
        slot="content"
        :closemodal="handleModal" />

    </modal>

  </div>
</template>

<script>
import BtnPrimaryNeutralIconleft from '~/components/Buttons/BtnPrimaryNeutralIconleft'
import Modal from '~/components/Modal/Modal'
import AddForm from '~/components/AddNewBtn/AddForm'

export default {
  components: {
    BtnPrimaryNeutralIconleft,
    Modal,
    AddForm
  },
  data () {
    return {
      openModal: false
    }
  },
  methods: {
    handleModal () {
      this.openModal = !this.openModal
    }
  }
}
</script>
