<template>
  <div>
    <button
      :class="{'btn-primary-neutral-disabled': disabled}"
      class="btn btn-primary-neutral"
      @click="handleClick">
      {{ text }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleClick () {
      if (!this.disabled) {
        this.$emit('btnClicked') 
      }
    }
  }
}
</script>
