<template>
  <div>
    <button
      class="btn btn-primary-neutral-iconleft"
      @click="handleClick">
      <!-- ADD ICON -->
      <img
        v-if="handleIcon === 'add'"
        :alt="text"
        class="btn-primary-neutral-iconleft__iconleft"
        src="~/static/icons/icon_add.svg">
      {{ text }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: 'add'
    }
  },
  data () {
    return {
      options: ['add']
    }
  },
  computed: {
    handleIcon () {
      if (!this.options.includes(this.icon)) return 'add'

      return this.icon
    }
  },
  methods: {
    handleClick () {
      this.$emit('btnClicked')
    }
  }
}
</script>
