<template>
  <div>
    <button
      class="btn btn-quartiary-danger"
      @click="handleClick">
      <!-- REMOVE ICON -->
      <img
        v-if="handleIcon === 'remove'"
        :alt="text"
        class="btn-quartiary-danger__iconleft"
        src="~/static/icons/icon_close_red.svg">
      {{ text }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: 'remove'
    }
  },
  data () {
    return {
      options: ['remove']
    }
  },
  computed: {
    handleIcon () {
      if (!this.options.includes(this.icon)) return 'remove'

      return this.icon
    }
  },
  methods: {
    handleClick () {
      this.$emit('btnClicked')
    }
  }
}
</script>
