<template>
  <button
    class="btn btn-quartiary-danger"
    @click="handleClick">
    {{ text }}
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    }
  },
  methods: {
    handleClick () {
      this.$emit('btnClicked')
    }
  }
}
</script>
