@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

$color-background-darkwhite: #FCFCFD;
$color-background-darkerwhite: #F5F4F6;

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box !important;
  font-size: 62.5% !important; // 1 rem = 10px (10/16px = 62.5%)
}

*,
*::before,
*::after {
  box-sizing: inherit !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  min-height: 100vh;
  background-color: $color-background-darkwhite;
}

a {
  color: #365DF0;
}