$color-white: #FFFFFF;
$color-white-dark-1: #FCFCFD;
$color-white-dark-2: #F5F4F6;
$color-white-dark-3: #EBEAED;
$color-white-dark-4: #DEDCE1;

$color-ink: #170C3A;
$color-ink-light-1: #8F8A9B;
$color-ink-light-2: #B1ADB9;
$color-ink-light-3: #C7C4CD;

$color-blue: #365DF0;
$color-blue-dark-1: #2F55CC; 
$color-blue-dark-2: #244AA8;
$color-blue-light-1: #9AAEF7;
$color-blue-light-2: #B9C6FA;
$color-blue-light-3: #CAD6FC;
$color-blue-light-4: #E1E7FD;

$color-green: #12DB89;
$color-green-dark-1: #10B26C; 
$color-green-dark-2: #0E995D;
$color-green-light-1: #88EDC4;
$color-green-light-2: #B7F7D8;
$color-green-light-3: #CFF9E6;
$color-green-light-4: #E7FBF3;

$color-red: #F95E5A;
$color-red-dark-1: #CC4C4C; 
$color-red-dark-2: #A53F3F;
$color-red-light-1: #FCAEAC;
$color-red-light-2: #FCC6C5;
$color-red-light-3: #FCD7D6;
$color-red-light-4: #FEEFEE;

$color-yellow: #FFBB43;
$color-yellow-dark: #D89C3A;
$color-yellow-darker: #996C2B;

$color-purple-dark: #4C4499;
$color-purple-darker: #353372;

$color-teal-dark: #2BAFD8;
$color-teal-darker: #2497B2;

$gradient-ink: linear-gradient(180deg, rgba(0,0,187,1) 0%, rgba(23,12,58,1) 77%);
$gradient-yellow: linear-gradient(180deg, rgba(255,187,67,1) 0%, rgba(249,94,90,1) 77%);