$font-semibold: 600;

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem; // 20px
  font-weight: 400;
  line-height: 2.6rem;
  color: $color-ink;
}

.body-secondary {
  color: $color-ink-light-1;
}

.body-important {
  font-weight: $font-semibold;
}

.body-heading {
  color: $color-ink-light-1;
  font-weight: $font-semibold;
}

.body-small {
  font-size: 1.8rem; // 18px
  line-height: 2.4rem;
}

.body-small-secondary {
  font-size: 1.8rem; // 18px
  color: $color-ink-light-1;
  line-height: 2.4rem;
}

.body-small-important {
  font-size: 1.8rem; // 18px
  font-weight: $font-semibold;
  line-height: 2.4rem;
}

.body-small-heading {
  font-size: 1.8rem; // 18px
  font-weight: $font-semibold;
  color: $color-ink-light-1;
  line-height: 2.4rem;
}

.body-smallest {
  font-size: 1.6rem; // 16px
  line-height: 2.2rem;
}

.body-smallest-secondary {
  font-size: 1.6rem; // 16px
  color: $color-ink-light-1;
  line-height: 2.2rem;
}

.body-smallest-important {
  font-size: 1.6rem; // 16px
  font-weight: $font-semibold;
  line-height: 2.2rem;
}

.body-smallest-heading {
  font-size: 1.6rem; // 16px
  font-weight: $font-semibold;
  color: $color-ink-light-1;
  line-height: 2.2rem;
}

h1 {
  font-size: 4.2rem; // 42px
  line-height: 5rem;
  font-weight: $font-semibold;
}

h2 {
  font-size: 3.6rem; // 36px
  line-height: 4rem;
  font-weight: $font-semibold;
}

h3 {
  font-size: 3rem; // 30px
  line-height: 3.6rem;
  font-weight: $font-semibold;
}

h4 {
  font-size: 2.6rem; // 26px
  line-height: 3.2rem;
  font-weight: $font-semibold;
}

h5 {
  font-size: 2.4rem; // 24px
  line-height: 3rem;
  font-weight: $font-semibold;
}
