.form-group__checkbox {
  position: relative;
}

.checkbox {
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-ink;
    cursor: pointer;
  }

  &__hack {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $color-blue;
    border-radius: 4px;

    &-checked {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1px;
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}