%input-shared-properties {  
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: 5rem;
  padding: 1.3rem 2.1rem 1.2rem;
  margin-bottom: 3.2rem;
  width: 100%;
}

.input {
  @extend %input-shared-properties;
  background-color: $color-white-dark-2;
  border-color: $color-white-dark-3;
  color: $color-ink;

  &::placeholder {
    color: $color-ink-light-2;
  }

  &:focus {
    background-color: $color-white-dark-3;
    border-color: $color-white-dark-4;

    &::placeholder {
      color: $color-ink-light-1;
    }
  }
}

.input-error {
  @extend %input-shared-properties;
  position: relative;
  background-color: $color-red-light-4;
  border-color: $color-red;
  color: $color-red;

  &::placeholder {
    color: $color-red;
  }
}

.label-input {
  display: inline-block;
  margin-bottom: 2rem;
  color: $color-ink;
  font-weight: $font-semibold;

  &-required {
    display: inline-block;
    margin-bottom: 2rem;
    color: $color-ink;
    font-weight: $font-semibold;
    
    &::after {
      content: '*';
      font-weight: $font-semibold;
      color: $color-ink-light-1;
    }

    &-error {
      display: inline-block;
      margin-bottom: 2rem;
      color: $color-ink;
      font-weight: $font-semibold;

      &::after {
        content: '*';
        font-weight: $font-semibold;
        color: $color-red;
      }
    }
  }
}
