.search-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: 5rem;
  padding: 1.3rem 2.1rem 1.2rem;
  background-color: $color-white-dark-2;
  border-color: $color-white-dark-3;
  color: $color-ink;
  padding-left: 5rem;
  max-width: 29rem;

  &-wrapper {
    position: relative;
  }

  &::placeholder {
    color: $color-ink-light-2;
  }

  &:focus {
    background-color: $color-white-dark-3;
    border-color: $color-white-dark-4;

    &::placeholder {
      color: $color-ink-light-1;
    }
  }

  &__icon-wrapper {
    position: absolute;
    margin: 1.5rem;
    top: 0;
    left: 0;
  }

  &__icon {
    width: 20px;
  }
}