.tag-input {
  &__wrapper {
    position: relative;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: .4rem .5rem;
    margin-bottom: 3.2rem;
    background-color: $color-white-dark-2;
    border-color: $color-white-dark-3;
    color: $color-ink;
    min-height: 5rem;
  }

  &__tags-wrapper{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
  }

  &__input {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    height: 4.2rem;
  }

  &__individual-tag {
    background-color: $color-white;
    border-color: $color-white-dark-3;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: .6rem;
    line-height: 2.5rem;
    max-height: 4.1rem;
    display: inline-block;
    margin-right: .7rem;

    &-exclude-btn {
      width: 1rem;
      height: 1rem;
      margin-left: .968rem;
      margin-right: .54rem;
      margin-bottom: 1px;
      cursor: pointer;
    }
  }
}