.my-modal {
  background-color: $color-ink;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  &__content {
    // position: fixed;
    position: relative;
    // overflow-y: scroll;
    top: 20%;
    // left: 50vw;
    // transform: translateX(-50%);
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    max-width: 60rem;
    margin-bottom: 30%;
    // height: 50vh;
  }

  &__close-icon {
    position: absolute;
    top: 3rem;
    left: 100%;
    transform: translateX(-4.5rem);
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
  }
}