<template>
  <div class="container m-auto">
    <div class="pt-20 flex flex-wrap">
      <div class="w-4/5 m-auto">
        <vuttr-header />
        <vuttr-toolbar />
        <nuxt/>
      </div>
    </div>
  </div>
</template>

<script>
import VuttrHeader from '~/components/VuttrHeader/VuttrHeader'
import VuttrToolbar from '~/components/VuttrToolbar/VuttrToolbar'

export default {
  components: {
    VuttrHeader,
    VuttrToolbar
  }
}
</script>

