<template>
  <div
    class="my-modal overflow-y-activated"
    @click="handleModalWantsToClose">

    <div
      class="w-full xs:w-1/2 md:w-1/2 my-modal__content">
      <img
        class="my-modal__close-icon"
        src="~/static/icons/icon_close_grey.svg"
        alt="Search">
      <!-- SLOT -->
      <slot name="content"/>
    </div>

  </div>
</template>

<script>
// import simplebar from 'simplebar-vue';
// import 'simplebar/dist/simplebar.min.css';

export default {
  // components: {
  //   simplebar
  // },
  created () {
    this.handleBodyOverflow('add')
  },
  beforeDestroy () {
    this.handleBodyOverflow('remove')
  },
  methods: {
    handleBodyOverflow (v) {
      // Don't let the body scroll when Modal is opened.
      if (!v) return

      let bt = document.getElementsByTagName("BODY")[0]
      let bClasses = bt.classList

      if (v === 'add') bClasses.add('modal-open')
      if (v === 'remove') bClasses.remove('modal-open')
    },
    handleModalWantsToClose (e) {
      if (e.target.className !== 'my-modal overflow-y-activated' &&
      e.target.className !== 'my-modal__close-icon') return
      
      this.$emit('modalWantsToClose')
    }
  }
}
</script>

