<template>
  <div>
    <vuttr-card-list />
  </div>
</template>

<script>
import VuttrCardList from '~/components/VuttrCardList/VuttrCardList'

export default {
  components: {
    VuttrCardList
  }
}
</script>

