<template>
  <div>
    <div class="search-input-wrapper">
      <div class="search-input__icon-wrapper">
        <img
          class="search-input__icon"
          src="~/static/icons/icon_search.svg"
          alt="Search">
      </div>
      <input
        v-model="input"
        :placeholder="placeHolder"
        type="text"
        class="search-input">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    placeHolder: {
      type: String,
      default: 'Search...'
    }
  },
  data () {
    return {
      input: ''
    }
  },
  watch: {
    input (newValue) {
      if (!newValue || newValue.trim() !== '') {
        this.$emit('input', this.input)
      }
    }
  }
}
</script>
