<template>
  <div class="flex flex-wrap py-4">
    <div class="w-full body-important">
      <span
        v-for="(_, i) in tags"
        :key="i"
        :class="{'tag-found': handleTagBackground(_)}"
        class="mr-4">
        #{{ _ }}
      </span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    tags: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapGetters([
      'searchArray',
      'tagsOnly'
    ]),
    handleTagBackground () {
      return (tagName) => {
        if (!this.tagsOnly) return false

        let result = false

        this.searchArray.forEach(tagSearched => {
          if (tagName.includes(tagSearched)) {
            result = true
          }
        })

        return result
      }
    }
  }
}
</script>
