<template>
  <div class="flex flex-wrap pb-4">
    <div class="w-full body-small">
      <span>
        {{ desc }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    desc: {
      type: String,
      default: 'Tool description'
    }
  }
}
</script>
