<template>
  <div class="flex flex-wrap py-4">
    <div class="flex-1 body-important">
      <a
        :href="link"
        target="_blank">
        <span>{{ title }}</span>
      </a>
    </div>
    <div class="flex-1 text-right">
      <btn-quartiary-danger-iconleft
        icon="remove"
        text="remove"
        @btnClicked="handleModal"/>
      <!-- MODAL -->
      <modal
        v-if="openModal"
        @modalWantsToClose="handleModal">

        <remove-tool
          slot="content"
          :closemodal="handleModal"
          :title="title"
          :id="id"/>

      </modal>
    </div>
  </div>
</template>

<script>
import BtnQuartiaryDangerIconleft from '~/components/Buttons/BtnQuartiaryDangerIconleft'
import Modal from '~/components/Modal/Modal'
import RemoveTool from '~/components/VuttrCardList/VuttrCard/RemoveTool'

export default {
  components: {
    BtnQuartiaryDangerIconleft,
    Modal,
    RemoveTool
  },
  props: {
    link: {
      type: String,
      default: 'www.google.com'
    },
    title: {
      type: String,
      default: 'Tool Title'
    },
    id: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      openModal: false
    }
  },
  methods: {
    handleModal () {
      this.openModal = !this.openModal
    }
  }
}
</script>
