<template>
  <div>
    <div class="flex flex-row flex-wrap remove-form__body">
      <!-- Title -->
      <div class="flex flex-row flex-wrap mb-4">
        <div class="flex self-center mr-4 remove-form__remove-icon">
          <img
            src="~/static/icons/icon_close_ink.svg"
            alt="Add">
        </div>
        <div class="flex-1">
          <h4>Remove tool</h4>
        </div>
      </div>

      <!-- Question -->
      <div class="flex flex-row flex-wrap mb-4 mt-4">
        <div class="flex-1 text-left">
          <span>
            Are you sure you want to remove
            <span class="body-important">
              {{ title }}
            </span>
            ?
          </span>
        </div>
      </div>

      <!-- Question -->
      <div class="flex flex-row flex-wrap mb-4 mt-4 w-full items-end">
        <div class="self-center flex-1">
          <btn-quartiary-danger
            text="Cancel"
            @btnClicked="closemodal"/>
        </div>
        <div class="flex ml-8">
          <btn-primary-neutral
            text="Yes, remove"
            @btnClicked="deleteTool"/>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
import MyInput from '~/components/Inputs/MyInput/MyInput'
import TagInput from '~/components/Inputs/TagInput/TagInput'
import BtnPrimaryNeutral from '~/components/Buttons/BtnPrimaryNeutral'
import BtnQuartiaryDanger from '~/components/Buttons/BtnQuartiaryDanger'

export default {
  components: {
    MyInput,
    TagInput,
    BtnQuartiaryDanger,
    BtnPrimaryNeutral
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    id: {
      type: Number,
      default: 0
    },
    closemodal: {
      type: Function,
      default () {}
    }
  },
  methods: {
    deleteTool () {
      this.$store.dispatch('deleteTool', this.id)
      this.closemodal()
    }
  }
}
</script>

<style lang="scss" scoped>
.remove-form {
  &__body {
  background-color: white;
  border-radius: 3px;
  padding: 5.5rem;
  }

  &__remove-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  } 
}
</style>