<template>
  <card-main-flat>
    <line1
      :link="tool.link"
      :title="tool.title"
      :id="tool.id"/>
    <line2
      :desc="tool.description"/>
    <line3
      :tags="tool.tags"/>
  </card-main-flat>
</template>

<script>
import CardMainFlat from '~/components/Cards/CardMainFlat'
import Line1 from '~/components/VuttrCardList/VuttrCard/Line1'
import Line2 from '~/components/VuttrCardList/VuttrCard/Line2'
import Line3 from '~/components/VuttrCardList/VuttrCard/Line3'

export default {
  components: {
    CardMainFlat,
    Line1,
    Line2,
    Line3
  },
  props: {
    tool: {
      type: Object,
      default () {}
    }
  }  
}
</script>
