<template>
  <div class="flex flex-row flex-wrap">
    <div
      v-if="withLabel"
      class="flex w-full mt-3">
      <label
        :for="customId"
        :class="labelClassAttr">
        {{ labeltext }}
      </label>
    </div>  
    <div class="flex w-full">
      <!-- OPTION: Textarea -->
      <textarea
        v-if="textarea"
        :id="customId"
        :required="required"
        :placeholder="placeholder"
        v-model="inputValue"
        style="height: 18rem"
        cols="30"
        rows="10"
        class="input"
        @blur="trimTheInput"/>
      <!-- OPTION: Input -->
      <input
        v-else
        :id="customId"
        :placeholder="placeholder"
        :required="required"
        v-model="inputValue"
        type="text"
        class="input"
        @blur="trimTheInput">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    labeltext: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    textarea: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      inputValue: ''
    }
  },
  computed: {
    withLabel () {
      let labelText = this.labeltext.trim()
      if (!labelText || labelText === '') return false

      return true
    },
    customId () {
      let randomString = Math.random().toString(20).substring(7)
      let customId = this.labeltext.trim().replace(/ /g,'').toLowerCase()

      return customId + randomString
    },
    labelClassAttr () {
      if (this.required) {
        return {'label-input-required': true}
      } else {
        return {'label-input': true}
      }
    }
  },
  watch: {
    inputValue () {
      this.$emit('input', this.inputValue)
    }
  },
  methods: {
    trimTheInput () {
      this.inputValue = this.inputValue.trim()
    }
  }
}
</script>
