<template>
  <div>
    <vuttr-card
      v-for="(_, i) in allTools"
      :key="i"
      :tool="_"/>
  </div>
</template>

<script>
import VuttrCard from '~/components/VuttrCardList/VuttrCard/VuttrCard'

export default {
  components: {
    VuttrCard
  },
  computed: {
    allTools () {
      return this.$store.getters.tools
    }
  }
}
</script>
