<template>
  <div>
    <div class="form-group__checkbox">
      <input
        id="checkbox"
        v-model="checked"
        type="checkbox"
        class="checkbox__input">
      <label
        for="checkbox"
        class="checkbox__label">
        <div class="checkbox__hack">
          <img
            v-if="checked"
            class="checkbox__hack-checked"
            src="~/static/icons/icon_check.svg"
            alt="Checked">
        </div>
        {{ label }}
      </label>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      checked: false
    }
  },
  watch: {
    checked () {
      this.$emit('input', this.checked)
    }
  }
}
</script>
