<template>
  <div class="mt-20 flex flex-wrap">
    <search-bar />    
    <add-new-btn />
  </div>
</template>

<script>
import SearchBar from '~/components/SearchBar/SearchBar'
import AddNewBtn from '~/components/AddNewBtn/AddNewBtn'

export default {
  components: {
    SearchBar,
    AddNewBtn
  }
}
</script>
