<template>
  <div>
    <label
      :class="labelClassAttr"
      for="tagInputField">
      Tags
    </label>
    <div
      ref="tagInputWrapper"
      class="tag-input__wrapper">
      <div
        ref="wrapperTags"
        class="tag-input__tags-wrapper"
        @click="handleClickInsideWrapper">
        <div
          v-for="(tag, i) in tagsAdded"
          :key="i"
          class="tag-input__individual-tag">
          <span>{{ tag }}</span>
          <img
            class="tag-input__individual-tag-exclude-btn"
            src="~/static/icons/icon_close.svg"
            alt="Delete"
            @click="handleTagExcluded(i)">
        </div>
        <input
          id="tagInputField"
          ref="inputField"
          v-model="tagInput"
          :required="!tagsAlreadyExist"
          class="tag-input__input"
          type="text"
          @keydown="handleTagAdded">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    required: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      tagsAdded: [],
      tagInput: ''
    }
  },
  computed: {
    labelClassAttr () {
      if (this.required) {
        return {'label-input-required': true}
      } else {
        return {'label-input': true}
      }
    },
    tagsAlreadyExist () {
      if (!this.required) return true
      if (this.tagsAdded.length === 0) return false
      return true
    }
  },
  watch: {
    tagsAdded () {
      this.$emit('input', this.tagsAdded)
    }
  },
  methods: {
    handleTagAdded(e) {
      // Delete the last Tag if the input text is already empty.
      if (
        e.key === 'Backspace' &&
        this.tagsAdded.length > 0 &&
        this.tagInput === ''
      ) {
        this.tagsAdded.pop()
      }
      // Don't let add Tag if input text is empty or with only white spaces.
      if (!this.tagInput || this.tagInput.trim() === '') return
      // Don't let add Tag if the event key is not a Tab or Enter key.
      if (e.key !== 'Tab' && e.key !== 'Enter') return
      // Prevent change the focus from the input text.
      if (e.key === 'Tab' || e.key === 'Enter') e.preventDefault()

      this.tagsAdded.push(this.tagInput.trim())
      this.tagInput = ''
      this.$refs.inputField.focus()
    },
    handleTagExcluded(index) {
      if (this.tagsAdded.length === 0) return

      this.tagsAdded.splice(index, 1)
    },
    handleClickInsideWrapper() {
      this.$refs.inputField.focus()
    }
  }
}
</script>
